.header__lang-ink {
    text-decoration: none;
    color: white;
    list-style-type: none;
    width: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    padding: 0;
    align-self: flex-end;
}

@media screen and (max-width: 320px) {
    .header__lang-ink {
        max-width: 22px;
        max-height: 20px;
    }
}