.places {
  margin: 0 auto 0 auto;
  /*max-width: 984px;*/
}

@media screen and (max-width: 1280px) {
  .places {
    max-width: 76.88vw;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.63vw;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100vw;
  }
}