.places {
  max-width: 984px;
  margin: 92px auto 0;
  padding: 0 148px;
}

@media screen and (max-width: 768px) {
  .places {
    margin: 141px auto 0;
    padding: 0 calc((100vw - 768px) / (1024 - 768) * 24);
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 64px auto 0;
    padding: 0 calc((100vw - 320px) / (768 - 320) * 16);
  }
}