.place__image {
    margin: 0;
    max-width: 460px;
    max-height: 460px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .place__image {
        margin-top: 48px;
        margin-right: 48px;
        max-width: 440px;
        max-height: 440px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        margin-top: 48px;
        margin-right: 24px;
        max-width: 340px;
        max-height: 340px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        margin-top: 32px;
        max-width: 320px;
        max-height: 320px;
        width: 100%;
        object-fit: cover;
    }
}