.intro__list {
    margin: 15px 0;
    max-width: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    list-style-type: none;
    padding: 0;
}