.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding-top: 25px;
  }

  .place__paragraph:first-child {
    padding-top: 32px;
  }
}