.place__paragraph {
    margin: 0 0 26px 0;
    max-width: 484px;
    max-height: 145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
}

.place__paragraph:last-child {
    margin-bottom: 0;
}