.lead__image {
    margin: 64px auto 0;
    max-width: 984px;
    max-height: 615px;
    padding: 0;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin-top: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin-top: 56px;
        width: 100%;
    }
}
