.intro {
    max-width: 690px;
    margin: 0;
    padding: 92px 0 0 148px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 40px;
        padding-top: 90px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 110px;
        padding-left: 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-top: 64px;
        padding-left: 16px;
        max-width: 288px;
    }
}