.lead__subtitle {
    margin: 32px auto 0;
    width: 640px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin-top: 32px;
        width: calc(100% - 2*16px);
    }
}