.cover {
    margin: 115px auto 0;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background-image: url(../../images/cover/cover-trains.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
}

.cover::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 0.3;
    background-color: #2a2c2f;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-top: 92px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
        width: 100%;
    }
}