.place__link {
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    max-width: fit-content;
    margin: 0;
    padding: 0;
}

.place__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .place__link {
        font-size: 2.34vw;
    }
}