.lead__figure {
  margin: 64px auto 0;
  padding: 0 148px 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead__figure {
    margin-top: 56px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__figure {
    max-width: 760px;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .lead__figure {
    max-width: 320px;
  }
}