.lead__figure {
    margin: 0 auto;
    padding: 0 148px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__figure {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead__figure {
      padding: 0;
      max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead__figure {
      max-width: 320px;
    }
  }