.place {
  margin: 0;
  display: grid;
  align-items: start;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  gap: 48px 40px;
}

@media screen and (min-width: 1024px) {
  .place {
    margin: 80px 48px 0 48px;
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }

  .place:first-child {
    margin-top: 92px;
  }
}


@media screen and (min-width: 768px) {
  .place {
    margin: 73px 24px 0 24px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }

  .place:first-child {
    margin-top: 141px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 50px 0;
    gap: 32px;
  }

  .place:first-child {
    margin-top: 64px;
  }
}