.place {
  margin: 0;
}

.place:first-child {
  padding-top: 92px;
}

.place:nth-child(2) {
  padding-top: 60px;
}

.place:nth-child(3) {
  padding-top: 60px;
}

.place:nth-child(4) {
  padding-top: 80px;
}

.place:nth-child(5) {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .place:first-child {
    padding-top: 142px;
  }

  .place:nth-child(2) {
    padding-top: 48px;
  }

  .place:nth-child(3) {
    padding-top: 48px;
  }

  .place:nth-child(4) {
    padding-top: 48px;
  }

  .place:nth-child(5) {
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    align-items: start;
    grid-auto-flow: column;
    grid-template-columns: auto;
    margin: 64px 0 0 0;
    margin-top: 50px;
    grid-template-rows: repeat(5, auto);
    max-width: 288px;
    gap: 50px;
  }
}