.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 48px;
    padding-top: 69px;
    max-width: 1184px;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: 92.5vw;
    }
}
@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.72vw;
        padding-top: 90px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        max-width: 90.72vw;
        margin-top: 0;
        padding-bottom: 24px;
    }
}
@media screen and (max-width: 320px) {
    .footer {
        max-width: 90vw;
    }
}