.place__text{
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 26px;
  }
  
  @media screen and (min-width: 1024px){
    .place__text{
      gap: 27px;
    }
  }
  
  @media screen and (min-width: 320px) {
    .place__text{
      gap: 25px;
    }
  }