/*.place__description {
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  /*gap: 26px;*/


/*@media screen and (min-width: 1024px) {
  .place__description {
    gap: 27px;
  }
}

@media screen and (min-width: 768px) {
  .place__description {
    gap: 25px;
  }
}*/
